pre {
  font-size: 13px;
  overflow: auto;
}

.button {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border-color: #49B882;
  border-style: none;
  padding: 6px 30px 10px;
  text-transform: lowercase;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  background-color: #49B882;
  color: #fff;
  margin: auto;
}

.button:hover {
  background-color: #49B882;
}

.button:focus {
  outline: none;
}

.buttonDiv {
    margin-top:20px;
    text-align: center;
    overflow:auto;
}

.tableDiv {
    overflow: auto;
    table-layout: fixed;
    width:100%;
}

.tableWrapDiv {
    margin-top:20px;
    height: 450px;
    overflow: auto;
}

.tabClass {
    margin-top:20px;
}

.menuTab {
    background-color: #49B882 !important;
    color:white !important;
    font-size: 13px !important;
    padding: 10px 15px 10px !important;
}

.defaultMenuTab {
    background-color: rgba(1, 108, 209, 0.08);
    color:rgb(1, 108, 209);
    font-size: 13px;
    padding: 10px 15px 10px !important;
}

.col-id {
    width:18%;
}

.col-name {
    width:30%;
}

.col-value {
    width:25%;
}

/*
.col-selector {
    width:30%;
}
*/

.col-tagName {
    width:15%;
}

.col-inputType {
    width:12%;
}
